{{page-title "Main"}}

<TopBar></TopBar>

<div class="votd" align="center">

  <br><br>

  <h5><MdcIcon @icon="book" id="book-icon"></MdcIcon> Verse of the Day</h5>
  <h4>But let patience have her perfect work, that ye may be perfect and entire, wanting nothing.</h4>
  <p>James 1:4 (KJV)</p>

</div>
