/**
 * This file contains variables for customizing the default them for your
 * MDC application. See
 *
 *    https://github.com/material-components/material-components-web/tree/master/packages/mdc-theme
 *
 * for the variables you can you define to customize the default theme. As an
 * example, we have commented several common variables used to the default theme
 * for an application.
 *
 * There is no need to include the component-specific style sheets in this file.
 * The framework automatically handles this for you.
 */

$mdc-theme-primary: #534a48;
$mdc-theme-secondary: #506751;
$mdc-theme-on-primary: #ded5b9;
$mdc-theme-on-secondary: #ded5b9;

// CSS for: main.hbs
#book-icon {
  color: #800020;
}
